@import '../../styles/mixins';
@import '../../styles/variables';

.Header {
	background-color: $transparentWhite;
	margin: 0 auto;
	max-width: $fullwidth;
	padding: 18px 20px;
	position: fixed;
	width: 100%;
}

.ContentToggle {
	@include title();
	cursor: pointer;
	position: relative;
	z-index: 10;
}